# App
NODE_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:7800
NEXT_PUBLIC_COLLAB_WS_URL=ws://localhost:1234
NEXT_PUBLIC_SAVE_INTERVAL_MS=3000
NOTE_AUTH_SECRET=change-this-long-random-secret

# Ports
PORT=7800
COLLAB_PORT=1234

# PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/aitonomous_notepad?schema=public
